# uncomment when ready to start version increasing (i.e. stable 0.0.1)
.github/*
.bumpversion.cfg

standard_morph/__pycache__/**
*.pyc
*.ipynb
*.csv
*.swc
.eggs/
.idea/
.vscode/
*.pytest_cache

scratchfiles/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
/linear_resampling.ipynb
/.ipynb_checkpoints/